* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fontRoboto{
    font-family: "Roboto", sans-serif;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;

}
.flexColumn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

}

.headerTwo {
    font-size: 3rem;
    color: black;

}
.topLinePara {
    background: #60267F;
    text-align: center;
    font-size: 12px;
    color: #fff;
    padding: 5px 0;    
}

.topLineSpan {
    text-decoration: underline;
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px 15px 50px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.058);
    
}
.headerUl {
    display: flex;
    gap: 20px;
    
}
.navigationContainer {
    gap: 20px;
}

.headerList {
    list-style: none;
    
}
.headerList a{
    text-decoration: none;
    color: #2B0236;   
}
.headerBtn {
    padding: 8px 10px;
    background: none;
    border: #9A54BC 2px solid;
    border-radius: 5px;
    color: #9A54BC;
    font-size: 11px;
    font-weight:500; 
    transition: 0.1s ease-in;  
}
.headerBtn:hover {
    background: #9A54BC;
    color: #fff;
    cursor: pointer;
}

.section1 {  
    margin-top: 100px;
  
}

.headingContainer {
    text-align: center;
    gap: 50px;
    
    
    


}
.heading {
    font-size: 3rem;
    color: #2B0236;
    
}
.headingBtn {
    padding: 20px 32px;
    background-color: #9A54BC;
    color: #fff;
    border: 1px solid #9A54BC;
    border-radius: 5px;
    font-weight: 700;
    transition: 0.1s ease-in;
    cursor: pointer;
    

}
.headingBtn:hover{
    background-color: white;
    color: #9A54BC;
    
}

.firstPhoneContainer {
   
    height: 500px;
}
.relative {
    position: relative;

}

.absolute {
    position: absolute;


}
.smallElipse {
    top: 65px;

}

.rectangle {
    top: 80px;
}
.collabWord {
    top: 175px;
}
.elipseBtn {
    bottom: 110px;
    width: 140px;
    padding: 10px 15px;
    color: #60267F;
    border: 2px solid #9A54BC;
    border-radius: 5px;
    background-color: white;
    font-weight: 700;
}
.topBrandsContainer {
   margin-top: 100px;
   gap: 100px;
}

.iconsContainer {
   gap: 150px;

}

.iconsContainer img {
    width: 100px;
}
.collabAppHelpContainer {
    margin-top: 100px;
    gap: 75px;
}

.mainContainer {
    justify-content: space-between;
}
.leftparaContainer {
width: 40%;
}
.buttonContainer { 
    width: 100%;
    border-radius: 5px;
    padding: 5px 2px;
    gap: 5px; 
    box-shadow: 0px 3px 2px 0px #F2F2F2;
    
    
}
.buttonContainer button {

    width: 50%;
    padding: 10px;
    border-radius: 5px;      
    border: 2px solid #fff;  
    background-color: transparent;

}
.buttonContainer button:hover {
    border: 2px solid #9A54BC;
    background-color: #60267F;
    color: #fff;
}
.iconsContainer .lastImg {
    width:215px;
    height: 159px;
    
}
.paraContainer {
    gap: 10px;
    margin margin-top: 30px;
}

.paraContainer p {
    background-color: #F2F2F2;
    padding: 1rem;
}

.paraContainer p span {
    font-weight: 700;

}
.rightImgContainer {
    width: 55%;
    padding-top: 70px;
    margin-top: 50px;
    

}
.rightImgContainer img {
    width: 300px;
    
}
.bugetContainer{
    margin-top: 100px;
    height: 700px;
    gap: 30px;
  
}
.bugetContainer p{
    font-size: 24px;
    text-align: center;
}

.projectDoneContainer {
    margin-top: 50px;
    gap:50px;

}
.projectDoneCardsContainer {
    width: 50%;
    justify-content: space-between;
}
.card {
    align-items: flex-start;
    gap: 30px;
}
.card > span{
    margin-left: 30px;
}
.card img {
    width: 300px;
}
.projectDoneCardHeader{
    color: #60267F;
    font-weight: 500;
}
