* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --white:#fff;
    --brand-green: #00856F;
    --purple: #60276f;

}


.fontRoboto{
    font-family: "Roboto", sans-serif;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.flexColumn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

}

.headerTwo {
    font-size: 3rem;
    color: black;

}
.topLinePara {
   background-color: var(--purple);
    text-align: center;
    font-size: 12px;
    color: #fff;
    padding: 5px 0;    
}

.topLineSpan {
    text-decoration: underline;
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px 15px 50px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.058);
    
}
.headerUl {
    display: flex;
    gap: 20px;
    
}
.navigationContainer {
    gap: 20px;
}

.headerList {
    list-style: none;
    
}
.headerList a{
    text-decoration: none;
    color: #2B0236;   
}
.headerBtn {
    padding: 8px 10px;
    background: none;
    border: #9A54BC 2px solid;
    border-radius: 5px;
    color: #9A54BC;
    font-size: 11px;
    font-weight:500; 
    transition: 0.1s ease-in;  
}
.headerBtn:hover {
    background: #9A54BC;
    color: #fff;
    cursor: pointer;
}

.section1 {  
    margin-top: 100px;
  
}

.headingContainer {
    text-align: center;
    gap: 50px;
    
    
    


}
.heading {
    font-size: 3rem;
    color: #2B0236;
    
}
.headingBtn {
    padding: 20px 32px;
    background-color: #9A54BC;
    color: #fff;
    border: 1px solid #9A54BC;
    border-radius: 5px;
    font-weight: 700;
    transition: 0.1s ease-in;
    cursor: pointer;
    

}
.headingBtn:hover{
    background-color: white;
    color: #9A54BC;
    
}

.firstPhoneContainer {
   
    height: 500px;
}
.relative {
    position: relative;

}

.absolute {
    position: absolute;


}
.smallElipse {
    top: 65px;

}

.rectangle {
    top: 80px;
}
.collabWord {
    top: 175px;
}
.elipseBtn {
    bottom: 110px;
    width: 140px;
    padding: 10px 15px;
    color: #60267F;
    border: 2px solid #9A54BC;
    border-radius: 5px;
    background-color: white;
    font-weight: 700;
}
.topBrandsContainer {
   margin-top: 100px;
   gap: 100px;
}

.iconsContainer {
   gap: 150px;

}

.iconsContainer img {
    width: 100px;
}
.collabAppHelpContainer {
    margin-top: 100px;
    gap: 75px;
}

.mainContainer {
    justify-content: space-between;
}
.leftparaContainer {
width: 40%;
}
.buttonContainer { 
    width: 100%;
    border-radius: 5px;
    padding: 5px 2px;
    gap: 5px; 
    box-shadow: 0px 3px 2px 0px #F2F2F2;
    
    
}
.buttonContainer button {

    width: 50%;
    padding: 10px;
    border-radius: 5px;      
    border: 2px solid #fff;  
    background-color: transparent;

}
.buttonContainer button:hover {
    border: 2px solid #9A54BC;
    background-color: #60267F;
    color: #fff;
}
.iconsContainer .lastImg {
    width:215px;
    height: 159px;
    
}
.paraContainer {
    gap: 10px;
    margin-top: 30px;
}

.paraContainer p {
    background-color: #F2F2F2;
    padding: 1rem;
}

.paraContainer p span {
    font-weight: 700;

}
.rightImgContainer {
    width: 55%;
    padding-top: 70px;
    margin-top: 50px;
    

}
.rightImgContainer img {
    width: 300px;
    
}
.bugetContainer{
    margin-top: 100px;
    height: 700px;
    gap: 30px;
  
}
.bugetContainer p{
    font-size: 24px;
    text-align: center;
}

.projectDoneContainer {
    margin-top: 50px;
    gap:50px;

}
.projectDoneCardsContainer {
    width: 50%;
    justify-content: space-between;
}
.card {
    align-items: flex-start;
    gap: 30px;
}
.card > span{
    margin-left: 30px;
}
.card img {
    width: 300px;
}
.projectDoneCardHeader{
    color: #60267F;
    font-weight: 500;
}
.bigCardsContainer {
    gap: 20px;
    margin-top: 200px;
}
.bigCardsTopPara{
    font-size: 20px;
    color:#A79D9D;

}
.monthlyYearlyContainer {
    gap: 10px;
    margin-top: 30px;
    font-size: 1rem;

}
.monthly {
    color:#A79D9D;
}

.yearly {
   font-weight: 500;
}

.discount{
    background-color: #FFE87A;
    font-size: 10px;
    padding: 2px;
    border-radius: 3px;

    
}
.threeBigCardContainer{
    gap: 30px;

}
.bigCard {
    width: 250px;
    height: 450px;
    border: 0.5px solid #AAAAAA;
    border-radius: 10px;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.bigCard p {
    font-size: 16px;
    font-weight: 500;
}
.bigCard button { 
    padding: 15px 20px;
    background-color: #fff;
    border: 2px solid #2B0236;
    color: #AAAAAA;
    border-radius: 5px;
    font-weight: 700;

}
.bigCardListContainer{
    gap: 15px;
    align-items: flex-start;

}
.bigCardListContainer li{
    padding: 0 0 0 10px;
    font-size: 12px;

}
.bigCardListContainer li::marker{
    content:"▶";
}
.cardThree { 
    background-color: #56E6A5;
    border-color: #AAAAAA;

}
.cardThree .cardThreePara{
    color:#000000a5;
    font-size: 12px;
}
.threeBigCardContainer button:hover{
    background-color: #2B0236;
    color: #F2F2F2;
    transition: 0.2s;

}


/* stars section */

.starsContainer{
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.mainStarsContainer{
    width: 80%;
}


.paraLeftRight{
    justify-content:space-between;
    align-items:center;
    
    
    
}
.starsPara{
    width: 70%;
    text-align: center;
    font-size: 18px;
    padding: 60px 0;
    font-weight: bold;
    
}
.designation{
    font-size: 14px;
    font-weight: 700;
}


/* Join US */

.joinUs{
    width: 100%;
}
.staart { 
    padding: 60px 0;
    text-align: center;
}


.lineYouSize {
   margin-left: 50px;
   width: 1000px;
   height: 300px;
}



.imgSize { 
  width: 100px;
}

.facesJoinUs{
    position:relative;
}

.one16{
    position:absolute;
    top:0;
    left:0;
}
.two17{
    position:absolute;
    top:140px;
    left:120px;
}
.three18{
    position:absolute;
    top:120px;
    left:300px;
}
.four19{
    position:absolute;
    top:190px;
    left:440px;
}
.five20{
    position:absolute;
    top:200px;
    left:600px;
}
.six21{
    position:absolute;
    top:180px;
    left:780px;
}
.seven22{
    position:absolute;
    top:200px;
    left:930px;
}
.eight23{
    position:absolute;
    top:100px;
    left:990px;
}
.youEnd{
    position:absolute;
    top:82px;
    left:890px;
    color: #9A54BC;
    font-weight: 900;
    font-size: 20px;
}

.btnJoinUs{
    width: 200px;
    position:absolute;
    top:0px;
    left:calc(50% - 100px);
    background-color: #9A54BC;
    padding: 10px 10px;
    border-radius: 5px;
    border: none;
    color: white;
    

}














































Footer{
    margin-top: 100px;
  
}
.imgFooter{
    margin-left: 0;
    width: 62%;    
}
.footerContainer{
    width: 100%;
    margin-bottom: 50px;
    

}
.mainFooterContainer{  
    
    width: 62%;    
    justify-content: space-between;
    align-items: flex-start;
   }
.leftFooter{
    width: 30%;
    display: flex;
    flex-direction: column;
  
    
    
}
.paraFooter{
   
    font-size: 20px;
    padding-bottom: 30px;
    
   
    
}
.followPara{
    font-size: 18px;
    font-weight:600;
    margin: 10px 0;
}
.iconsFooter{
    font-size: 30px;
}



.rightFooter{
    width: 60%;
    margin-top: 0;
    
}

.onlyFooterList{
    gap: 75px;
    align-items: flex-start;
}
.onlyFooterList a{
    font-size: 17px;
    text-decoration: none;

}
   .gapList{
    display: flex;
    flex-direction: column;
    gap: 30px;
    
   }

   .boldName{
    font-size: 18px;
    font-weight: bold;
    
   }
   .gone{
    font-size: 18px;
    opacity: 0;
   }
   .bottumLinePara{
     background-color: var(--purple);
     text-align: center;
     font-size: 12px;
     color: #fff;
     padding: 5px 0;  
   }
  
  
    


   
